html{
    scrollbar-width: none; 
}

body{
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    scrollbar-width: none;
    background-color: $white;
    color: $dark_grey;
}