//Colors
$white: #ffffff;
$offwhite: #efefef;

$light_grey: #00000020;
$mid_grey: #B1B1B1;
$dark_grey: #515151;

$yellow: #fac032;
$yellow_transparent: #fac03280;
$blue: #5f9fab;
$blue_transparent: #94BFC7;
$green: #5FAB76;
$green_transparent: #AED5BA;
$red: #E56A6A;
$red_transparent: #ED9B9B;


$color_petrol: #609fab;
$color_lightblue: #ddf1fd;
$color_lightblue_dark: rgba( $color_lightblue, .25 );
$color_red: #e56a6a;
$color_semiblack: rgba(0,0,0,.15);